<div class="chat-container">
    <div class="chat-messages">
        <div class="grid gap-y-2">
            <!--chat messages-->
            
            @for (message of messages(); track $index) {
                @if( message.isGpt){
                    <app-chat-message 
                    [text]="message.text"
                    />
                }@else {
                    <app-my-message
                    [text]="message.text"
                    ></app-my-message>
                }
            }
            
            @if (isLoading()) {
                <app-typing-loader/>
            }
        </div>
    </div>

    <!--MessageBox-->
    <app-text-message-box
    placeholder="Escribe aqui"
    (onMessage)="handleMessage($event)"
    />
    <!--<app-text-message-box-file
    placeholder="Escribe aqui"
    (onMessage)="handleMessageWithFile($event)"
    />-->
    <!--<app-text-message-box-select
    placeholder="Escribe aqui"
    [options] = "[{ id: '1', text: '1' },{ id: '2', text: '2' }]"
    (onMessage)="handleMessageWithSelect($event)"
    />-->
</div>